.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #ddd;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.2rem;
}

.nav a:hover {
  color: #ff8a05;
}